@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,600;0,700;1,400;1,600&family=Poppins:wght@300;400;500&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, .wrapper, .content{
   display: flex;
   align-items: center;
   justify-content: center;
}

body{
    min-height: 100vh;
     background-image: linear-gradient(
  45deg,
  hsl(219deg 75% 55%) 0%,
  hsl(206deg 100% 46%) 4%,
  hsl(202deg 100% 47%) 9%,
  hsl(199deg 100% 47%) 13%,
  hsl(195deg 100% 47%) 17%,
  hsl(194deg 86% 55%) 22%,
  hsl(192deg 81% 63%) 27%,
  hsl(188deg 75% 70%) 32%,
  hsl(189deg 78% 76%) 37%,
  hsl(195deg 89% 81%) 43%,
  hsl(202deg 99% 86%) 49%,
  hsl(208deg 100% 90%) 57%,
  hsl(217deg 99% 93%) 65%,
  hsl(229deg 79% 95%) 74%,
  hsl(248deg 46% 96%) 86%,
  hsl(270deg 12% 97%) 100%
);
}

.wrapper{
    width: 440px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 30px 38px;
}

.wrapper img{
     max-width: 103px;
}

.wrapper h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
}

.wrapper .content{
    width: 100%;
    justify-content: space-between;
}

.wrapper .content.disable{
    opacity: 0.6;
    pointer-events: none;
}

.content .column{
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100% / 3 - 5px);

}
.column  select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
    background-color: transparent;
}

.wrapper button{
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    border-radius: 5px;
    background: #272829;

}


@media only screen and (max-width: 440px){
    .wrapper{
        width: 420px;
        height: 100vh;
        background-image: linear-gradient(
  45deg,
  hsl(219deg 75% 55%) 0%,
  hsl(206deg 100% 46%) 4%,
  hsl(202deg 100% 47%) 9%,
  hsl(199deg 100% 47%) 13%,
  hsl(195deg 100% 47%) 17%,
  hsl(194deg 86% 55%) 22%,
  hsl(192deg 81% 63%) 27%,
  hsl(188deg 75% 70%) 32%,
  hsl(189deg 78% 76%) 37%,
  hsl(195deg 89% 81%) 43%,
  hsl(202deg 99% 86%) 49%,
  hsl(208deg 100% 90%) 57%,
  hsl(217deg 99% 93%) 65%,
  hsl(229deg 79% 95%) 74%,
  hsl(248deg 46% 96%) 86%,
  hsl(270deg 12% 97%) 100%
);
    }
    .column  select{
        height: 45px;
        width: 100%;
        font-size: 15px;
    }
    .wrapper h1{
        font-size: 32px;
    }
    .wrapper button{
        margin-top: 15px;
        font-size: 19px;
        padding: 15px 0;
        border-radius: 5px;
    
    }
}
